@import 'ext/fonts';
@import 'ext/normalize';
@import 'syntax';

$linkColor: #0A59B0;
$smallScreenSize: 479px;
$largeScreenSize: 1023px;

*,*:before,*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.2em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img, embed, object, video {
	max-width: 100%;
}

a {
	color: #000;
	transition: color 0.3s;
	&:hover {
		color: $linkColor;
	}
}

h2 {
	margin: 0.7em 0;
}
main {
	max-width: 70rem;
	height: 100%;
	margin: 0 auto;
	padding: 30px;

	@media screen and (max-width: $smallScreenSize){
		padding-left: 15px;
		padding-right: 15px;
	}
}

.post-categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		font-size: 14px;
		float: left;
		background-color: #E3E3E3;
		padding: 5px 20px;
		border-radius: 2px;
		margin-top: 5px;
		margin-right: 5px;
	}
}
.post-date {
	margin-right: 10px;
	color: #555;
}
.post-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-link {
	text-decoration: none;
}

.post-title {
	line-height: 1.2em;
	font-size: 28px;
}
.posts, .post-container {
	list-style-type: none;
	padding: 0 !important;	
}

.post-about {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: #E3E3E3;

	.author {
		display: flex;
		flex-direction: row;
		height: min-content;
		width: 100%;

		.author-text {
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				font-size: 14px;
				margin: 0 0 0 0;
			}
		}
		.author-img {
			height: 50px;
			padding-right: 20px;
		}
	}

	.social {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin-top: 0;
		li {
			float: left;
			i {
				font-size: 34px;
			}
		}

		@media screen and (max-width: $smallScreenSize){
			display: none;
		}
	}
}


.post {
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
	color: #222;
	line-height: 1.9em;
	text-align: justify;
	a {
		color: $linkColor;
		text-decoration: none;
		transition: border-bottom 0.4s;
		&:hover {
			border-bottom: 0.5px solid $linkColor;
		}
	}
	img {
		max-width:90%;
		max-height:90%;
		margin-bottom: 1em; 
		margin-right: 1em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img[alt="inline"] {
		display: inline-block;
	}

	img[alt*="half"] {
		max-width:45%;
		max-height:45%;
		margin-bottom: 1em; 
		margin-right: 1em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.excerpts {
		display: flex;
  		flex-direction: row;
		.thumbnail {
			margin: 20px 30px 0 0;
			width: 75px;
			object-fit: contain;
			align-self: flex-start;
			//border:2px dashed rgba(175,175,175,0.1);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			//align-self: center;
		}
		.passage {
			display: flex;
			justify-content: center;
		}

		@media screen and (max-width: $largeScreenSize) {
			.thumbnail {display:none;}
		}
	}

	// style for the table
	table {
		table-layout: fixed;
		margin: 0 auto;
		width: 100%;
        overflow-x: auto;
		// style for header and cells
		th, td {
			padding: 2px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			text-align: center;
			vertical-align: center;
			overflow: hidden; 
		}
		// fill odd and even rows with different colors
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		// align image vertically inside the cell
		td img {
			display: block;
			margin:0 auto;
		}
	}

	// style for the blockquotes (psuedo codes)  
	blockquote {
		background: #ecf0f0;
		counter-reset: lineNumber;
		position: relative;
		display: grid;
		grid-template-columns: 2ch 1fr;
		padding-left: 2ch;
		overflow: scroll;

		ul {
			font-family: 'Consolas', Menlo, monospace;
			line-height: 1.4em;
			list-style-type: none;
			padding-inline-start: 4ch;
			grid-column: 2 / 2;
		}

		li {
			counter-increment: lineNumber;
		}
		
		li::before {
			content: counter(lineNumber) ". ";
			color: #3d3d3d;
			left: 0;
			right: 0;
			position: absolute;
			text-align: right;
			padding-right: 2em;
			grid-column: 1 / 1;
		}
	}
}

.post-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	box-sizing: border-box;

	a {
		text-decoration: none;
		border-radius: 3px;
		border: 1px solid gray;
		padding: 8px 16px;
		text-align:center;
		font-size: 12px;
		color: $linkColor;
		text-transform: uppercase;
		font-weight: bold;
	}

	a:hover {
		box-shadow: 0 0 6px $linkColor;
	}
}

#posts-label {
	border-bottom: 1px solid #eee;
	font-size: 15px;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
	font-weight: normal;
}

.papers-link {
	text-decoration: none;
	line-height: 1.2em;
	font-size: 16px;
	text-transform: capitalize;
	color: #000;
	transition: color 0.3s;
}

.papers-list {
	list-style-type: disc;
	li a{ color: #3d3d3d; }
	li:nth-child(odd) a{ color: #0a0a0a; }
	li a:hover {
		color: $linkColor;
		box-shadow: 0 0 6px $linkColor;
	}
	margin-left: 20px;
	margin-bottom: 20px;
}
